.burger-menu {
  background: white;
  z-index: 3;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  gap: 50px;
  flex-direction: column;
  padding: 18px 24px;
  padding-bottom: 32px;
  transition: all 0.3s;
  box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2),
    -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
  @media (min-width:361px) {
    width: 320px;
  }  
  @media (min-width: 1440px) {
    box-shadow: unset;
    position: relative;
    left: 0;
    &__footer {
      margin-top: 241px;
    }
  }
  &__footer {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    font-weight: 500;
  }
  &__header {
    display: flex;
    justify-content: space-between;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  &__item {
    display: flex;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
    &:hover {
      color: $dark-purple;
      &::before {
        position: absolute;
      }
    }
  }
  &__item--active {
    color: #7e7e82;
    &::before {
      position: absolute;
      content: "";
      left: 0;
      background-image: url("../../icons/highlight.svg");
      width: 4px;
      height: 32px;
    }
  }
  &__langs {
    margin-top: 20px;
  }
}
.logo {
  position: absolute;
  margin-left: 60px;
}
