.info-menu {
    overflow-x: auto;
    &__box {
      display: flex;
      gap: 16px;
      white-space: nowrap;
      padding: 2px 16px 14px;
    }
    &__item {
      font-size: 16px;
      font-weight: 500;
      color: $dark-gray;
      cursor: pointer;
      padding: 8px 10px;
      &--active {
        border-radius: 6px;
        border: 2px solid #b8ffec;
        background: white;
      }
      &:hover:not(&--active) {
        background: white;
        border-radius: 6px;
        outline: 2px solid $dark-purple;
      
      }
    }
    @media (min-width: 1440px) {
      &__box {
        flex-wrap: wrap;
      }
    }
  }
  