.divider {
  height: 32px;
  width: 2px;
  border-radius: 1px;
  background: #eaeaea;
}
.pc-visible {
  display: none;
}

.phone-hidden {
  display: none;
}
.content-box {
  @media (min-width: 1440px) {
    width: 1120px;
    background: $light-gray;
    padding-bottom: 42px;
  }
  &__header {
    border-bottom: 1px solid $light-blue;
    background-color: white;
  }
}
.pc-flex {
  display: none;
}
.main {
  font-size: 16px;
  font-weight: 500;
  background: $light-gray;
  @media (min-width: 768px) {
    &__content-wrapper {
      display: flex;
      padding: 10px 24px;
      padding-bottom: 42px;
      justify-content: space-between;
    }
    &__picture {
      display: block;
      border-radius: 10px;
      flex-grow: 1;
      flex-shrink: 1;
      width: 50%;
      max-width: 530px;
    }
    &__info {
      flex-grow: 1;
      flex-shrink: 1;
    }
  }
  &__header-box {
    position: relative;
    &::before {
      position: absolute;
      content: "";
      left: 0;
      width: 4px;
      height: 40px;
      background-image: url("../../icons/highlight.svg");
    }
  }
  @media (min-width: 1440px) {
    &__info {
      max-width: 490px;
    }
  }
  &__title {
    padding-inline: 16px;
    color: #1b1c21;
    margin: 0;
    padding: 0;
    font-size: 28px;
    font-family: "TT Lakes Bold";
    font-weight: 700;
    font-variation-settings: "wdth" 500;
    white-space: nowrap;
  }
  &__info {
    padding: 0px 16px;
    padding-bottom: 16px;
  }
  &__description {
    font-size: 14px;
    font-weight: 400;
    padding-right: 5px;
  }
  &__picture {
    display: block;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .nav-menu {
    padding: 24px 24px;
  }
  .phone-hidden {
    display: unset;
  }
}

@media (min-width: 1440px) {
  .pc-visible {
    display: unset;
  }
  .pc-static {
    position: static;
  }
  .pc-flex {
    display: flex;
  }

  .pc-hidden {
    display: none;
  }
  .header {
    border-bottom: none;
  }
  .nav-menu {
    padding-bottom: 8px;
  }
}
