.icon {
  width: 40px;
  height: 40px;
}
.icon-check-status {
  background-image: url(../icons/checkstatus.svg);
  width: 40px;
  height: 40px;
}
.icon-setting {
  background-image: url(../icons/repair.svg);
}
.icon-burger {
  background-image: url(../icons/burger.svg);
}
.icon-phone {
  background-image: url(../icons/call.svg);
}
.icon-message {
  background-image: url(../icons/chat.svg);
}
.icon-profile {
  background-image: url(../icons/profile.svg);
}
.icon-burger-close {
  background-image: url("../icons/burger-close.svg");
}
.icon-search {
  background-image: url("../icons/search.svg");
}
.icon-go {
    background-image: url(../icons/go.svg);
}
